.todo-header {
    height: 100px;
    background-color: #031956;
    position: relative;
    border-radius: 15px;
    margin-bottom: 60px;
}

.add-todo svg {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999;
    right: 25px;
    bottom: -25px;
}

.icon-background {
    background-color: #ffffff;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: -20px;
    border-radius: 50%;
}

.todos-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    padding: 20px 30px;
}